body{
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fondoPrincipal{
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),url("/img/fondoPrincipal3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.barraInicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5% auto 5%;
    padding: 10px;
    border-radius: 20px;
}

.logo {
    display: flex;
    align-items: left;
}

.logo a img {
    width: 40px;
    height: 40px;
    margin: 5px 10px auto 5px;
}

.logo span{
    margin: 14px auto auto auto;
}

.ubicacion a{
    text-decoration: none;
    margin: auto 10px auto auto;
}

.ubicacion i{
    font-size: 24px;
}

.titulos {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 39px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin: 1% 20% 0% 20%;
    border: 0%;
    border-radius: 40px;
    padding: 3%;
    color: #ffffff;;
}

.textoPrincipal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    margin:  0% auto 10% auto;
    text-align: center;
    border: 0%;
    border-radius: 30px;
    padding: 2%;
    color: white;
    
}

.listaVertical {
    list-style-type: none;
    margin: 2% 38% 5% 42.5%;
    width: 206px;
    padding: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 19px;
}
.listas{
    font-size: 18px;
    margin: auto;
    padding: 0;
    overflow: auto;
    text-align: left;
}



.listaVertical li a {
    list-style-type: none;
    float:left;     
    display: block;
    width: 80px;
    height: 17px;
    color: white;
    text-align:center;
    padding: 11px;
    text-decoration: none;
    font-family: sans-serif;
}
  

.listaVertical li a:hover {
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 16px;

}

footer {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    color: black;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contacto {
    width: 50%;
}

.redesSociales {
    width: 50%;
    
}

.redesSociales ul {
    list-style: none;
    padding: 0;
    margin: 5% 20% auto 30%;
    display: flex;
    justify-content: space-between;
}

.redesSociales li {

    margin-right: 40px;
}

.derechosReservados {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    color: both;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.mapa iframe{
    border: 2px solid black;
    border-radius: 10px;
}

.instagram {
    color: rgb(255, 0, 64);
}
.instagram:hover {
    background-color: rgb(255, 0, 64);
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.facebook {
    color: blue;
}
.facebook:hover {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.twitter {
    color: rgb(0, 132, 255);
}

.twitter:hover {
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.correo {
    color: red;
    text-decoration: none;
}

.correo:hover {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 500px;
    width: 1000px;
    border-radius: 15px ;
    margin: -5px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0px 0px 15px black;
    padding-top: 70px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    align-items: center;
    margin: -5px auto 40px auto;
    padding: 20px;
    color:white;
    font-size: 0px;
    font-weight: 300;
}

.imagenes .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.imagenes:hover .texto{
    transition: height 0.5s, transform 1s, background-color 1s;
    transform: translateY(-100px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p{
    transition: font-size 0s .1s linear;
    font-size: 23px;
    font-weight: 300;

    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -100px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB ;
}

.boton {
    height: 70px;
    padding: 5px;
    margin: auto 15px;

}

.boton:hover {
    
    height: 80px;
    margin: auto 10px;
    transition: 0.2s;
}